# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtualenv
.venv/
venv/
.env/
.env

# VSCode
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Logs
*.log
logs/

# Byte-compiled / optimized / DLL files
*.so
*.dll
*.dylib

# Test output
htmlcov/
.coverage
.tox/

# Docker
*.pid

# Ignore local config
local_settings.py 
/.secrets
/uploads/
